.about {
  padding: 83px 0 77px;
  position: relative;

  @include vp-1200 {
    padding: 0;
    min-height: 541px;
  }

  @include vp-767 {
    padding: 0;
    min-height: none;
    padding-bottom: 10px;
  }
}

.about__wrapper {
  margin-left: auto;
  width: 585px;

  @include vp-1200 {
    width: auto;
    margin-left: 408px;
  }

  @include vp-767 {
    width: auto;
    margin-left: 0;
  }
}

.about__title-wrapper {
  position: relative;
  margin-bottom: 56px;

  @include vp-1200 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.about__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
    padding-left: 6px;
  }

  @include vp-767 {
    padding-left: 0;
    font-size: 22px;
    line-height: 22px;
  }
}

.about__title-shadow {
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  position: absolute;
  bottom: -2px;
  opacity: 0.03;
  max-height: 55px;
  overflow: hidden;

  @include vp-1200 {
    font-size: 40px;
    line-height: 40px;
    bottom: 0;
    max-height: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    max-height: 26px;
  }
}

.about__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 29px;

  @include vp-1200 {
    gap: 29px;
  }

  @include vp-767 {
    gap: 16px;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 16px;

    @include vp-1200 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 11px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 13px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 11px;
    }
  }
}

.about__img {
  position: absolute;
  top: 56px;
  left: 0;
  height: 474px;
  width: 808px;
  z-index: -1;

  @include vp-1200 {
    height: 350px;
    width: 542px;
    top: 51px;
  }

  @include vp-767 {
    top: 0;
    height: 400px;
    width: 434px;
    position: static;
    margin-bottom: 7px;
  }
}

.about__img img {
  @include vp-767 {
    height: 400px;
    width: 434px;
  }
}
