
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  width: 37px;
  height: 35px;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0;

  @include hover-focus {
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    outline: none;

    svg {
      fill: $color-resolution-blue;
    }
  }
}

.wrapper .swiper-button-prev:active,
.wrapper .swiper-button-next:active {
  background-color: $color-resolution-blue;
  border: 1px solid $color-resolution-blue;

  svg {
    fill: $color-default-white;
  }
}

.swiper-button-prev svg,
.swiper-button-next svg {
  fill: $color-default-white;
  transform: translate(60%, 45%);
}

.swiper-button-next svg {
  transform: rotate(180deg) translate(-60%, -45%);
}

/* style for swiper btn disabled */

.wrapper .swiper-button-disabled {
  pointer-events: none;
  opacity: 1;
  background-color: $color-nobel;
  border: 1px solid $color-nobel;
}

/* for CUSTOM disabled add class swiper-button--disabled */

.wrapper .swiper-button--disabled {
  pointer-events: none;
  opacity: 1;
  background-color: $color-nobel;
  border: 1px solid $color-nobel;

  @include hover-focus {
    background-color: $color-nobel;
    border: 1px solid $color-nobel;

    svg {
      fill: $color-default-white;
    }
  }
}
