.btn {
  display: inline-flex;
  padding: 19px 32.5px;
  border: 1px solid $color-navy-blue;
  color: $color-default-white;
  background-color: $color-navy-blue;
  cursor: pointer;
  transition: opacity $trans-default;
  max-width: 180px;
  user-select: none;

  &:disabled {
    background-color: $color-nobel;
    pointer-events: none;
    color: $color-default-white;
    border: none;
  }

  @include hover-focus {
    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
    color: $color-resolution-blue;
    outline: none;
  }
}

.wrapper .btn:active {
  background-color: $color-resolution-blue;
  color: $color-default-white;
  border: 1px solid $color-resolution-blue;
}
