.btn {
  display: inline-flex;
  padding: 20px;

  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    background-color: $color-nobel;
    pointer-events: none;
    color: $color-default-white;
    border: none;
  }

  @include hover-focus {
    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
    color: $color-resolution-blue;
    padding-top: 19px;
    padding-bottom: 19px;
    outline: none;
  }
}
