.features {
  padding: 13px 0 45px;

  @include vp-1200 {
    padding: 68px 0 125.5px;
  }
}

.features__title-wrap {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 47px;
}

.features__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
}

.features__title-shadow {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.03;
}

/* slider */
.features .swiper-container {
  padding: 0 45px;
}

.features .swiper-wrapper {
  margin-bottom: 50px;

  @include vp-1200 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.features .swiper-slide {
  width: 380px;
  padding: 39px 19px 39px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  align-self: stretch;

  @include vp-1200 {
    width: 100%;
    padding: 29px 19px 29px;
  }
}

.center-last {
  grid-column: 1 / -1;
  max-width: 380px;
  margin: 0 auto;
}

.features__img {
  width: 54px;
  height: 54px;
  border: 1px solid $color-navy-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;

  @include vp-1200 {
    width: 48px;
    height: 48px;
    margin-bottom: 25px;
  }
}

.features__info {
  h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
}

/* arrows */

.features-slider__control {
  display: grid;
  justify-content: center;
  grid-template-columns: 37px 37px;
  gap: 4px;

  @include vp-1200 {
    display: none;
  }
}
