.form {
  position: relative;
  padding: 40px;
  min-height: 760px;

  @include vp-1200 {
    min-height: 680px;
  }

  @include vp-767 {
    padding: 60px 0 60px;
  }

  img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    background-color: $color-gainsboro;
  }
}

.form__container {
  min-height: 680px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  @include vp-1200 {
    min-height: 600px;
    align-items: center;
    padding-top: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 38px;
    padding-top: 4px;

    @include vp-1200 {
      gap: 24px;
      padding-top: 0;
    }

    @include vp-767 {
    }
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  h3 {
    color: $color-default-white;
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;

    @include vp-1200 {
      font-size: 25px;
      font-weight: 800;
      line-height: 25px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  p {
    color: $color-default-white;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    max-width: 980px;
    padding-left: 2px;

    @include vp-1200 {
      max-width: 300px;
      padding-left: 0;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.form__text-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;

  @include vp-1200 {
    gap: 29px;
    padding-right: 2px;
  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 360px) 180px;
  gap: 30px;

  @include vp-1200 {
    grid-template-columns: 271px;
    gap: 11px;
    justify-content: center;
  }
}

.form__wrapper label {
  width: 100%;
  position: relative;
}

.form__wrapper input {
  margin: 0;
  width: 100%;
  background-color: $color-default-white;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 56px;
  color: $color-nobel;
  user-select: none;
  padding: 19px 15px 19px 30px;

  @include vp-1200 {
    height: 50px;
  }

  &:hover:not(:disabled) {
    border: 1px solid $color-navy-blue;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    border: 1px solid $color-resolution-blue;
    outline: none;
    color: $color-default-black;
  }

  &:disabled {
    border: 1px solid $border-features;
  }
}

.form__wrapper input::placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 0;
  line-height: 24px;
  color: $color-nobel;

  @include vp-767 {
    font-size: 14px;
    line-height: 21px;
  }
}

.form__wrapper input:hover:not(:disabled)::placeholder {
  color: $color-navy-blue;
}

.form__wrapper input:focus::placeholder,
.form__wrapper input:active::placeholder {
  color: $color-default-white;
}

.form__wrapper input:focus:hover::placeholder,
.form__wrapper input:active:hover::placeholder {
  color: $color-default-white;
}

.form__wrapper input:disabled::placeholder {
  color: $color-navy-blue;
  opacity: 0.5;
}

.form__wrapper input:disabled:active::placeholder {
  color: $color-navy-blue;
  opacity: 0.5;
}



.form__wrapper label.is-invalid input {
  border: 1px solid $color-torch-red;
}



.form__wrapper label.is-invalid input::placeholder {
  color: $color-default-black;
  opacity: 0.5;
}



.form .form__button {
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
  width: 190px;

  @include vp-1200 {
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  @include vp-767 {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: block;
    margin-top: 30px;
  }
}
