.gallery {
  padding-bottom: 40px;
  background-color: $color-default-white;
  padding-bottom: 3px;

  @include vp-1200 {
    padding-top: 1px;
    padding-bottom: 0;
  }
}

.gallery__intro {
  display: grid;
  grid-template-columns: auto 78px;
  justify-content: space-between;
  margin-bottom: 45px;

  @include vp-1200 {
    margin-bottom: 21px;
    grid-template-columns: auto 71px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.gallery__text-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  p {
    margin: 0;
    padding: 0;
    max-width: 693px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1200 {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      max-width: 420px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      max-width: 82%;
    }
  }
}

.gallery__title-wrap {
  position: relative;
  margin-bottom: 24px;

  @include vp-1200 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.gallery__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  max-width: 600px;

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
    max-width: 400px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    max-width: 85%;
  }
}

.gallery__title-shadow {
  position: absolute;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  left: 0;
  bottom: -2px;
  opacity: 0.03;

  @include vp-1200 {
    font-size: 40px;
    line-height: 40px;
    left: 0;
    bottom: 0;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    max-width: 85%;
  }
}

.gallery__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  gap: 3px;
  margin-top: auto;
  margin-bottom: 7px;

  @include vp-1200 {
    margin-bottom: 0;
  }

  @include vp-767 {
    gap: 4px;
    width: 78px;
    margin-left: auto;
  }
}

/* slider */
.gallery .swiper-container {
  overflow: hidden;
  padding-top: 23px;

  @include vp-1023 {
    padding-top: 17px;
  }

  @include vp-767 {
    padding-top: 6px;
  }
}

.gallery .swiper-container .swiper-wrapper {
  height: 449px;
  display: grid;
  grid-auto-flow: column;
  padding: 0;

  @include vp-1200 {
    height: 450px;
  }

  @include vp-767 {
    height: 260px;
  }
}

.gallery .swiper-slide {
  height: 449px;
  width: 100%;
  display: grid;
  grid-template-columns: 275px 298px;
  gap: 5px;
  outline: none;

  &--start-mount {
    grid-template-columns: 272px 298px;
  }

  &--start-fish {
    grid-template-columns: 276px 275px;
  }

  &--start-fire {
    grid-template-columns: 298px 272px;
  }

  &--start-ice {
    grid-template-columns: 298px 276px;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  @include vp-1200 {
    grid-template-columns: 1fr 1fr;
    height: 450px;
  }

  @include vp-767 {
    height: 260px;
    gap: 3px;
    padding: 0 15px;
  }
}

.gallery__slide-big-image {
  height: 449px;
  width: auto;

  @include vp-1200 {
    width: 100%;
    height: 450px;
  }

  @include vp-767 {
    height: 260px;
  }
}

.gallery__slide-half {
  width: 298px;
  display: grid;
  grid-template-rows: 179px 265px;
  gap: 5px;

  @include vp-1200 {
    width: auto;
    grid-template-rows: 180px 265px;
  }

  @include vp-767 {
    grid-template-rows: 100px 157px;
    gap: 3px;
  }
}
