.hero-header {
  background-color: $color-navy-blue;
  padding: 32px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.hero-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.hero-header__item {
  margin: 0;
  padding: 0;
}

.hero-header__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $color-default-white;
}

.hero-header__phone {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: $color-default-white;
}

/**/
