.hero-slider {
  max-width: 100%;
}

.hero-slider img {
  width: 100%;
  height: 800px;
  object-fit: cover;

  @include vp-1439 {
    height: 1024px;
    object-fit: cover;
    overflow: hidden;
  }

  @include vp-767 {
    height: 568px;
  }
}

.hero-slider.swiper-container {
  position: relative;
  overflow: hidden;
  height: auto;
  background-color: $color-nobel;
  color: $color-default-white;
  width: 100%;
}

.hero-slider .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.hero-slider .swiper-slide {
  width: 100%;
  height: auto;
  user-select: none;
  overflow: auto;
  outline: none;
  min-height: 800px;
  position: relative;

  @include vp-1439 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;

    min-height: 1024px;

    @include vp-767 {
      gap: 4px;
      min-height: 568px;
    }
  }
}

/* Пагинация */

.hero-slider .swiper-pagination {
  left: 87.2%;
  width: fit-content;
  bottom: 97px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;

  @include vp-1439 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;

    @include vp-767 {
      gap: 4px;
    }
  }
}

.hero-slider .swiper-pagination-bullet {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 14px;
  border: 1px solid $color-default-white;
  opacity: 1;
  background-color: transparent;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero-slider .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}

/* Slider text */

.hero-slider__wrapper {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;

}
