.hero-slider {
  max-width: 100%;
}

.hero-slider img {
  height: 908px;
  width: 100%;
  object-fit: cover;

  @include vp-1580 {
    height: 800px;
  }

  @include vp-1200 {
    height: 1024px;
    overflow: hidden;
  }

  @include vp-767 {
    height: 420px;
  }

  @include vp-567 {
    height: 568px;
  }
}

.hero-slider.swiper-container {
  position: relative;
  overflow: hidden;
  height: auto;
  background-color: $color-nobel;
  color: $color-default-white;
  width: 100%;
}

.hero-slider .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.hero-slider .swiper-slide {
  width: 100%;
  height: auto;
  user-select: none;
  overflow: auto;
  outline: none;
  position: relative;
  min-height: 800px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $hero-gradient;
    z-index: 0;
  }

  @include vp-1200 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 420px;
  }

  @include vp-567 {
    min-height: 568px;
  }
}

/* Пагинация */

.hero-slider .swiper-pagination {
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 87px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 1;

  @include vp-1200 {
    padding-right: 0;
    bottom: 30px;
    justify-content: center;
  }

  @include vp-767 {
    bottom: 38px;
    justify-content: center;
    gap: 18px;
  }
}

/* bullet */
.hero-slider .swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 20px;
  border: none;
  position: relative;
  background-color: transparent;
  opacity: 1;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid $color-default-white;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: $trans-default;
  }

  @include vp-767 {
    width: 10px;
    height: 10px;

    &::after {
      width: 8px;
      height: 8px;
    }
  }

  /* bullet hover */
  @include hover {
    &::after {
      background-color: $gainsboro;
      transition: $trans-default;
    }
  }

  /* bullet focus */
  @include focus {
    outline: none;

    &::after {
      background-color: transparent;
      outline: 1px solid rgba(255, 255, 255, 0.5);
      outline-offset: 1px;
      transition: none;
    }
  }
}


.hero-slider .swiper-pagination .swiper-pagination-bullet:first-child {
  width: 20px;

  &::after {
    left: 5px;
  }

  @include vp-767 {
    width: 10px;
    height: 10px;

    &::after {
      width: 8px;
      height: 8px;
    }
  }
}

.hero-slider .swiper-pagination .swiper-pagination-bullet:last-child {
  width: 20px;

  &::after {
    left: 15px;
  }

  @include vp-767 {
    width: 10px;
    height: 10px;

    &::after {
      left: 5px;
      width: 8px;
      height: 8px;
    }
  }
}

.hero-slider .swiper-pagination .swiper-pagination-bullet:active:not(.swiper-pagination-bullet-active) {
  &::after {
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    transition: $trans-default;
  }
}

.hero-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  outline: none;

  &::after {
    background-color: $color-default-white;
    transition: $trans-default;
  }

  @include focus {
    &::after {
      background-color: $color-default-white;
      outline: none;
      transition: $trans-default;
    }
  }

  @include hover {
    &::after {
      background-color: $color-default-white;
      transition: $trans-default;
    }
  }
}

/* Slider text */

.hero-slider__wrapper {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  overflow: auto;
  height: 708px;
  z-index: 1;

  @include vp-1580 {
    max-height: 600px;
  }

  @include vp-1200 {
    top: 212px;
    width: 100%;
    text-align: center;
    max-height: 750px;
    height: 750px;
  }

  @include vp-767 {
    max-height: 230px;
    top: 140px;
  }

  @include vp-567 {
    max-height: 380px;
    top: 140px;
  }

  h3 {
    margin: 0;
    padding: 0;
    width: 76.8%;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    word-break: break-word;

    @include vp-1580 {
      margin-bottom: 23px;
    }

    @include vp-1200 {
      font-size: 56px;
      line-height: 56px;
      margin: 0 auto;
      margin-bottom: 13px;
      width: 670px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      width: 100%;
      padding: 0 15px;
      margin-bottom: 15px;
    }
  }

  h3 + span {
    display: block;
    margin: 0;
    padding: 0;
    width: 60%;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    z-index: 1;
    position: relative;
    word-break: break-word;

    @include vp-1580 {
      display: none;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    width: 39%;
    margin-top: 23px;

    @include vp-1580 {
      margin-bottom: 37px;
      margin-top: 0;
    }

    @include vp-1200 {
      width: 500px;
      margin: 0 auto;
      margin-bottom: 27px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      padding: 0 18px;
      margin-bottom: 60px;
    }
  }

  p:last-of-type {
    @include vp-767 {
      margin-bottom: 20px;
    }

    @include vp-567 {
      margin-bottom: 60px;
    }
  }

  p + p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    width: 35%;

    @include vp-1580 {
      display: none;
    }
  }
}

.hero-slider__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 40px;
  margin-top: 37px;

  @include vp-1580 {
    margin-top: 0;
    margin-bottom: 134px;
  }

  @include vp-1200 {
    margin-bottom: 45px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.hero-slider__wrapper .hero-slider__link:active {
  background-color: $color-resolution-blue;
  border: 1px solid $color-resolution-blue;
  color: $color-default-white;
  padding: 19px 32.5px;
}

/* for disabled add class  hero-slider__link--disabled */

.hero-slider__link--disabled {
  background-color: $color-nobel;
  border: 1px solid $color-nobel;
  pointer-events: none;
  color: $color-default-white;
  padding: 19px 33px;

  @include hover-focus {
    background-color: $color-nobel;
    color: $color-default-white;
    border: none;
    padding: 19px 33px;
  }
}

.hero-slider__info-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;

  @include vp-1200 {
    display: none;
  }
}

.hero-slider__info {
  padding: 13px 19px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

  svg {
    margin-top: 2px;
  }
}

.hero-slider__media {
  position: absolute;
  top: 129px;
  right: 0;
  height: 317px;
  width: 482px;
  background-color: $color-default-black;

  @include vp-1200 {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 90px;
    height: 300px;
    width: 442px;
  }

  @include vp-767 {
    display: none;
  }

  &--polaroid {
    background-color: transparent;
    width: 410px;
    height: 459px;
    top: -13px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    @include vp-1200 {
      height: 365px;
      width: 530px;
      margin-bottom: 0;
      top: 0;
    }
  }

  &--music {
    width: 385px;
    height: 215px;
    background-color: transparent;
    top: 227px;

    @include vp-1200 {
      width: 385px;
      height: 215px;
      top: 0;
    }
  }
}

/* видео */
.hero-slider__video-container {
  width: 482px;
  height: 317px;
  background-color: $color-default-black;

  @include vp-1200 {
    height: 300px;
    width: 442px;
  }
}

.hero-slider__video-container img {
  height: 317px;
  object-fit: cover;

  @include vp-1580 {
    height: 317px;
  }

  @include vp-1200 {
    height: 300px;
    width: 442px;
  }
}

.hero-slider__video {
  height: 317px;
}

/* кнопка */
.hero-slider__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border: 1px solid $color-default-white;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  @include hover-focus {
    border: 1px solid $color-resolution-blue;
    outline: none;

    &::after {
      border: 7px solid transparent;
      border-left: 7px solid $color-default-white;
      transform: translate(-13%, -50%);
    }
  }

  &::before {
    position: absolute;
    content: "";
    border: 11px solid transparent;
    border-left: 11px solid $color-default-black;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    border: 11px solid transparent;
    border-left: 11px solid $color-default-white;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
  }
}


.hero-slider__video .hero-slider__video-button:active {
  background-color: $color-resolution-blue;
  border: none;
}

.hero-slider__video .hero-slider__video-button:active.hero-slider__video-button::after {
  border: 11px solid transparent;
  border-left: 11px solid $color-default-white;
  transform: translate(-15%, -50%);
}

/* Disabled button video */

.hero-slider .hero-slider__video-button:disabled {
  border: 1px solid rgba(2, 102, 193, 0.1);
  cursor: default;

  @include hover-focus {
    border: 1px solid rgba(2, 102, 193, 0.1);

    &::after {
      border: 11px solid transparent;
      border-left: 11px solid $color-navy-blue;
      transform: translate(-15%, -50%);
    }
  }

  &::after {
    border-left: 11px solid $color-navy-blue;
  }
}

.hero-slider__video .hero-slider__video-button:disabled:active {
  background-color: transparent;
}

.hero-slider__video iframe {
  width: 385px;
  height: 215px;
  background-color: $color-default-black;
  border: none;
}

.hero-slider__media.hero-slider__media--music iframe {
  width: 385px;
  height: 215px;
  border: none;
}
