.intro__img-wrapper {
  background-color: $color-navy-blue;
  padding: 15px;
}

.intro__img-wrapper svg {
  fill: $color-default-white;
}

.intro__link {
  color: $color-default-black;
  text-decoration: none;
  user-select: none;
}
