.review {
  padding: 27px 0 10px;
}

.review-slider__intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 37px;
  min-height: 59px;
}

.review-slider__title-wrap {
  position: relative;
  align-self: flex-end;
}

.review-slider__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
}

.review-slider__title-shadow {
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  bottom: -2px;
  opacity: 0.03;
}

.review-slider__control {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding-bottom: 2px;
}

/* Slider */

.review .swiper-slide img {
  margin-top: 2px;
  width: 258px;
  height: 253px;
  object-fit: cover;
}

.review .swiper-container {
  overflow: hidden;
}

.review .swiper-wrapper {
  padding: 0 10px;
}

.review .swiper-wrapper .swiper-slide {
  display: grid;
  grid-template-columns: 258px 352px;
  gap: 30px;
  padding: 18px 42px 20px 20px;
  box-shadow: $slide-shadow;
  width: 700px;
  outline: none;
}

.review__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 14px;

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
  }
}

.review__subtitle {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  margin-bottom: 1px;
}

.review__age {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}





/**/
