.study {
  padding-top: 20px;

  @include vp-1200 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 4px;
    padding-bottom: 6px;
  }

  h2 + p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 820px;
    margin-bottom: 60px;

    @include vp-1200 {
      max-width: 540px;
      margin-bottom: 29px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 28px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
  }
}

/* text */
.study__intro {
  position: relative;
  padding: 0;
}

.study__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  padding-top: 23px;
  margin-bottom: 32px;

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 21px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 16px;
  }
}

.study__title-shadow {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  top: 5px;
  left: 0;
  opacity: 0.03;
  max-height: 55px;
  overflow: hidden;

  @include vp-1200 {
    top: 10px;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    max-height: 40px;
  }

  @include vp-767 {
    top: 20px;
    left: 0;
    font-size: 26px;
    line-height: 26px;
    max-height: 26px;
  }
}

/* pre slider */

.study-slider__intro {
  display: grid;
  grid-template-columns: auto 78px;
  justify-content: space-between;
  min-height: 53px;
  margin-bottom: 20px;
  padding: 0;

  @include vp-1200 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.study-slider__title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.study-slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: end;
  gap: 4px;
}

/* slider */

.study .swiper-container {
  overflow: hidden;
  padding: 0;
  padding-bottom: 56px;

  @include vp-1200 {
    padding-bottom: 27px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 20px;
  }
}

.study .swiper-wrapper {
  padding: 0;
  margin: 0;
}

.study .swiper-container .swiper-slide {
  margin: 0;
  border: 1px solid rgba(2, 102, 193, 0.1);
  outline: none;
  padding: 14px;
  background-color: $color-default-white;
  align-self: stretch;
  overflow: auto;
}

.study .swiper-slide {
  visibility: hidden;
}

.study .swiper-slide-visible {
  visibility: visible;
}


.study .swiper-slide img {
  margin-bottom: 12px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.study-slider__profile {
  display: grid;
  grid-template-columns: auto 24px;
  justify-content: space-between;
  min-height: 32px;
  margin-bottom: 14px;
}

.study-slider__name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.study-slider__link {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  position: relative;

  svg {
    position: absolute;
    fill: $color-default-black;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  @include hover-focus {
    border: 1px solid $color-default-black;
    outline: none;
  }
}

.study .study-slider__link:active {
  border: 1px solid $color-navy-blue;
  background-color: $color-navy-blue;

  svg {
    fill: $color-default-white;
  }
}

/* for disabled add class study-slider__link--disabled */
.study-slider__link--disabled {
  border: 1px solid rgba(45, 56, 63, 0.3);
  pointer-events: none;

  svg {
    fill: $color-default-black;
    opacity: 0.3;
  }

  @include hover-focus {
    border: 1px solid rgba(45, 56, 63, 0.3);
    pointer-events: none;

    svg {
      fill: $color-default-black;
      opacity: 0.3;
    }
  }
}

.study .swiper-notification {
  display: none;
}
