.study {
  padding-top: 20px;
  padding-bottom: 56px;
}

/* text */
.study__intro {
  position: relative;
}

.study__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  padding-top: 23px;
  margin-bottom: 32px;
  padding-left: 15px;
}

.study__title-shadow {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  top: 5px;
  left: 0;
  opacity: 0.03;
  padding-left: 15px;
}

.study__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 820px;
  margin-bottom: 60px;
  padding-left: 15px;
}

/* pre slider */

.study-slider__intro {
  display: grid;
  grid-template-columns: auto 78px;
  justify-content: space-between;
  min-height: 53px;
  margin-bottom: 20px;
}

.study-slider__title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.study-slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: end;
  gap: 4px;
}

/* slider */

.study .swiper-container {
  overflow: hidden;
  padding: 0 15px;
  padding-bottom: 56px;
}

.study .swiper-container .swiper-slide {
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  outline: none;
  padding: 15px;
  background-color: $color-default-white;
  align-self: stretch;
}


.study .swiper-slide img {
  margin-bottom: 16px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.study-slider__profile {
  display: grid;
  grid-template-columns: auto 24px;
  justify-content: space-between;
  min-height: 32px;
  margin-bottom: 14px;
}

.study-slider__name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.study-slider__link {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  position: relative;

  svg {
    position: absolute;
    fill: $color-default-black;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  @include hover-focus {
    border: 1px solid $color-default-black;
    outline: none;
  }
}

.study .study-slider__link:active {
  border: 1px solid $color-navy-blue;
  background-color: $color-navy-blue;

  svg {
    fill: $color-default-white;
  }
}

/* for disabled add class study-slider__link--disabled */
.study-slider__link--disabled {
  border: 1px solid rgba(45, 56, 63, 0.3);
  pointer-events: none;

  svg {
    fill: $color-default-black;
    opacity: 0.3;
  }

  @include hover-focus {
    border: 1px solid rgba(45, 56, 63, 0.3);
    pointer-events: none;

    svg {
      fill: $color-default-black;
      opacity: 0.3;
    }
  }

}

.study-slider__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}
/**/
