.tours {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tours-slider {
  overflow: hidden;
}

.tours-slider__intro {
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tours-slider__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

/* Arrows */
.tours-slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}


.tours .swiper-button-prev::after,
.tours .swiper-button-next::after {
  display: none;
}

.tours .swiper-button-prev,
.tours .swiper-button-next {
  position: static;
  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  width: 37px;
  height: 35px;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0;

  @include hover-focus {
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    outline: none;

    svg {
      fill: $color-resolution-blue;
    }
  }
}

.tours .tours-slider__control .swiper-button-prev:active {
  background-color: $color-resolution-blue;

  svg {
    fill: $color-default-white;
  }
}

.tours .tours-slider__control .swiper-button-next:active {
  background-color: $color-resolution-blue;

  svg {
    fill: $color-default-white;
  }
}

.tours .swiper-button-prev svg,
.tours .swiper-button-next svg {
  fill: $color-default-white;
  transform: translate(40%, 15%);
}

.tours .swiper-button-next svg {
  transform: rotate(180deg) translate(-40%, -15%);
}

/* for disabled add class swiper-button--disabled*/

.tours-slider__control .swiper-button--disabled {
  pointer-events: none;


  @include hover-focus {
    background-color: $color-navy-blue;
    border: 1px solid $color-navy-blue;

    svg {
      fill: $color-default-white;
    }
  }
}

/* Slide */
.tours-slider .swiper-slide {
  height: 416px;
  background-color: $color-navy-blue;
  position: relative;
}

.tours-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tours-slider__wrapper {
  position: absolute;
  width: 100%;
  padding: 30px 20px;
  bottom: 0;
  z-index: 100;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
  background: $slide-gradient;
}

.tours-slider__subwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.tour-slider__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;

  &--city {
    gap: 4px;
    background-color: $color-navy-blue;
    padding: 8px 12px;
  }
}

.tour-slider__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tour-slider__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  max-width: 233px;
  margin: 0;
  padding: 0;
}

.tour-slider__line {
  width: 80px;
  border: 1px solid $color-default-white 0.2;
  margin: 0;
  padding: 0;
}

.tours-slider__about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.tours-slider__about-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
