.tours {
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;

  @include vp-1439 {
    padding-top: 65px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-top: 39px;
    padding-bottom: 20px;
  }

  @include vp-526 {
    overflow: hidden;
  }
}

.tours-slider {
  overflow: hidden;
  margin-bottom: 53px;

  @include vp-1439 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.tours-slider__intro {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto 78px;
  gap: auto;
  justify-content: space-between;
  min-height: 38px;

  @include vp-1439 {
    margin-bottom: 22px;
    align-items: end;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.tours-slider__title-wrap {
  position: relative;

  @include vp-767 {
    align-items: end;
  }
}

.tours-slider__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  padding-top: 3px;

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.tours-slider__title-shadow {
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  color: $color-default-black;
  opacity: 0.03;
  margin: 0;
  padding: 0;
  top: -18px;
  width: 1000px;
  z-index: 1;
  overflow: hidden;

  @include vp-1439 {
    width: 542px;
  }

  @include vp-767 {
    width: 200px;
    max-height: 55px;
  }
}

/* Arrows */
.tours-slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  justify-content: space-between;
  z-index: 1;

  @include vp-1439 {
    padding-bottom: 3px;
  }

  @include vp-767 {
    padding-bottom: 2px;
  }
}


.tours .swiper-button-prev::after,
.tours .swiper-button-next::after {
  display: none;
}

.tours .swiper-button-prev,
.tours .swiper-button-next {
  position: static;
  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  width: 37px;
  height: 35px;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0;

  @include hover-focus {
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    outline: none;

    svg {
      fill: $color-resolution-blue;
    }
  }
}

.tours .tours-slider__control .swiper-button-prev:active {
  background-color: $color-resolution-blue;

  svg {
    fill: $color-default-white;
  }
}

.tours .tours-slider__control .swiper-button-next:active {
  background-color: $color-resolution-blue;

  svg {
    fill: $color-default-white;
  }
}

.tours .swiper-button-prev svg,
.tours .swiper-button-next svg {
  fill: $color-default-white;
  transform: translate(60%, 45%);
}

.tours .swiper-button-next svg {
  transform: rotate(180deg) translate(-60%, -45%);
}

/* for disabled add class swiper-button--disabled*/

.tours-slider__control .swiper-button--disabled {
  pointer-events: none;


  @include hover-focus {
    background-color: $color-navy-blue;
    border: 1px solid $color-navy-blue;

    svg {
      fill: $color-default-white;
    }
  }
}

/* Slide */
.tours-slider .swiper-slide {
  height: 416px;
  background-color: $color-navy-blue;
  position: relative;
  outline: none;
  user-select: none;
}

.tours-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tours-slider__wrapper {
  position: absolute;
  width: 100%;
  padding: 30px 20px;
  bottom: 0;
  z-index: 100;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  background: $slide-gradient;
  max-height: 416px;
  overflow-y: auto;
}

.tours-slider__subwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
}

.tours-slider__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 11px;
  align-items: center;

  &--city {
    gap: 7px;
    background-color: $color-navy-blue;
    padding: 8px 16px 8px 14px;
  }
}

.tours-slider__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tours-slider__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  max-width: 233px;
  margin: 0;
  padding: 0;
}

.tours-slider__line {
  width: 80px;
  height: 1px;
  border-bottom: 1px solid $color-default-white;
}

.tours-slider__about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.tours-slider__about-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  min-height: 32px;
}

.tours-slider__about-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

.tours-slider__about-stars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
}

.tours-slider__about-subtext {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.tours__link {
  display: block;
  width: 237px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  padding: 11px 28px 9px 10px;
  position: relative;
  user-select: none;

  @include vp-767 {
    width: 212px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  svg {
    position: absolute;
    right: 9px;
    top: 51%;
    transform: translateY(-50%);
    stroke: $color-default-black;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;

    svg {
      stroke: $color-resolution-blue;
    }
  }
}

.tours .tours__link:active {
  color: $color-navy-blue;

  svg {
    stroke: $color-navy-blue;
  }
}

/* for disabled add class tours__link--disabled */

.tours__link--disabled {
  color: $color-navy-blue;
  cursor: default;
  pointer-events: none;

  svg {
    stroke: $color-navy-blue;
  }

  @include hover-focus {
    color: $color-navy-blue;
    outline: none;

    svg {
      stroke: $color-navy-blue;
    }
  }
}


.tours__background {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  @include vp-767 {
    height: 595px;
    right: 0;
    left: auto;
    top: 110px;
  }

  @include vp-526 {
    height: 595px;
    width: 346px;
    left: 179px;
  }
}

.tours__background img {
  height: 1630px;

  @include vp-1439 {
    height: 1364px;
  }

  @include vp-767 {
    display: block;
    height: 595px;
    width: 100%;
  }

  @include vp-526 {
    height: auto;
    width: auto;
  }
}
