.tours {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  @include vp-1200 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-top: 19px;
    padding-bottom: 21px;
  }

  @include vp-526 {
    overflow: hidden;
  }
}

.tours-slider {
  padding-top: 20px;
  overflow: hidden;
  margin-bottom: 53px;

  @include vp-1200 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.tours-slider__intro {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto 78px;
  gap: auto;
  justify-content: space-between;
  min-height: 38px;

  @include vp-1200 {
    margin-bottom: 22px;
    align-items: end;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.tours-slider__title-wrap {
  position: relative;

  @include vp-767 {
    align-items: end;
  }
}

.tours-slider__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  padding-top: 3px;

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.tours-slider__title-shadow {
  position: absolute;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  max-height: 55px;
  color: $color-default-black;
  opacity: 0.03;
  margin: 0;
  padding: 0;
  bottom: -5px;
  width: 1000px;
  z-index: 1;
  overflow: hidden;

  @include vp-1200 {
    width: 542px;
    top: auto;
  }

  @include vp-767 {
    width: 240px;
  }
}

/* Arrows */
.tours-slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  justify-content: space-between;
  z-index: 1;

  @include vp-1200 {
    padding-bottom: 3px;
  }

  @include vp-767 {
    padding-bottom: 2px;
  }
}

/* Slider */
.tours-slider .swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tours-slider .swiper-slide {
  margin: 0;
  padding: 0;
  height: 416px;
  background-color: $color-navy-blue;
  outline: none;
  user-select: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $slide-gradient;
  }
}

.tours-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tours-slider__wrapper {
  position: absolute;
  width: 100%;
  padding: 30px 20px;
  bottom: 0;
  z-index: 100;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  max-height: 416px;
  overflow-y: auto;
}

.tours-slider__subwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    gap: 0;
    row-gap: 12px;
  }
}

.tours-slider__wrapper-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  @include vp-767 {
    column-gap: 14px;
    row-gap: 12px;
  }
}

.tours-slider__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 11px;
  align-items: center;

  @include vp-767 {
    gap: 10px;
  }

  &--city {
    gap: 7px;
    background-color: $color-navy-blue;
    padding: 8px 13px 8px 14px;
    margin-right: auto;

    @include vp-767 {
      gap: 7px;
    }
  }
}

.tours-slider__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tours-slider__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  max-width: 233px;
  margin: 0;
  padding: 0;
}

.tours-slider__line {
  width: 80px;
  height: 1px;
  border-bottom: 1px solid $color-default-white;
}

.tours-slider__about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.tours-slider__about-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  min-height: 32px;
}

.tours-slider__about-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

.tours-slider__about-stars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
}

.tours-slider__about-subtext {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.tours__link {
  display: block;
  width: 237px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  padding: 11px 28px 9px 10px;
  position: relative;
  user-select: none;

  @include vp-767 {
    width: 212px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  svg {
    position: absolute;
    right: 9px;
    top: 51%;
    transform: translateY(-50%);
    stroke: $color-default-black;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;

    svg {
      stroke: $color-resolution-blue;
    }
  }
}

.tours .tours__link:active {
  color: $color-navy-blue;

  svg {
    stroke: $color-navy-blue;
  }
}

/* for disabled add class tours__link--disabled */

.tours__link--disabled {
  color: $color-navy-blue;
  cursor: default;
  pointer-events: none;

  svg {
    stroke: $color-navy-blue;
  }

  @include hover-focus {
    color: $color-navy-blue;
    outline: none;

    svg {
      stroke: $color-navy-blue;
    }
  }
}

.tours .swiper-notification {
  display: none;
}
